body {
    background-color: rgb(41, 4, 4);
    font-size: 10px;
    font-family: cursive;
}

#caja {
    width: 350px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f7f7f7;
    text-align: center;
}